/.vscode

# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Intermediate documents
*.dvi
*.xdv
*-converted-to.*

# PDF outputs (uncomment if you want to ignore PDFs)
# *.pdf

# BibTeX
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Build tool directories for auxiliary files
# latexmk
.fdb_latexmk/
.fls

# auctex
*.auto

# cprotect
*.cpt

# Texmaker
*.fuse_hidden*

# KBibTeX
*.bak

# biber temporary files
*.brf

# nomenclature
*.nlo

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.glog
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hyperref
*.brf

# knitr
*-concordance.tex

# listings
*.lol

# luatexja-ruby
*.ltjruby

# makeidx
*.idx
*.ilg
*.ind

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# newpax
*.newpax

# nomencl
*.nlg
*.nls

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# svg
svg-inkscape/

# sympy
*.SymPy

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# tcolorbox
*.figlist
*.makefile
*.fls
*.fdb_latexmk

# thmtools
*.loe

# TikZ & PGF
*.figlist
*.makefile
*.fdb_latexmk
*.fls

# todonotes
*.tdo

# vhistory
*.hst
*.ver

# easy-todo
*.lod

# xcolor
*.xcp

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic precompiled matrices and outlines
*.xyc
*.xyd

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

# Todonotes
*.tdo

# Xindy
*.xdy

# WinEdt
*.bak
*.sav

# Word temporary
~$*.doc*

# Temporary folders
tmp/
temp/

# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor backup files
*~
*.swp
*.swo
*#

# Tectonic intermediate files
*.xdv

# drawing files
*.pptx

# media files
*.mp4
main-submission.pdf
main.pdf
*.zip
motiondag-submission.pdf
motiondag.pdf
